{% extends "base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <div class="container centered">
        <h1 class="start-hero"><strong>CONTACT PAGE</strong></h1>
        <form class="" action="/contact" method="POST">
			Your Business Name: <input type="text" name="business"><br>
			First Name: <input type="text" required name="firstname"><br>
			Last Name: <input type="text" required name="lastname"><br>
			Phone No: <input type="text" required name="phone"><br>
			Email: <input type="email" required name="email"><br>
			How would you prefer me to contact you:<br>
			<input type="radio" name="contactmethod" value="email">Email<br>
			<input type="radio" name="contactmethod" value="phone">Phone call<br>
            <textarea name="message" rows="8" cols="80"></textarea>
            <br>
            <input type="submit" name="" value="Submit">
			<input type="reset" name="" value="Reset Form">
		</form>
    </div>
{% endblock %}
