{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <figure></figure>
        <div class="centered">
            <h1 class="start-hero"><strong><img src="static/logo-only.png" width="50" height="50"> TillTech</strong></h1>
            <br>
            <h4 class="start-hero">UK wide EPOS solutions for retail and hospitality</h4>
            <br>
            <div class="col-lg-12 my-auto">
                <form action="/" method="post">
                    <button class="zone btn-primary btn-xl" type="submit">Get in Touch</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
